<%- include('partials/head') %>
<body>
  <div class="container">
    <!-- noi dung o trong 
        body co the la hom or detail or edit user
    -->
    <%- body %>
  </div>
</body>
<%- include('partials/footer') %>
